body{
	margin: 0;
	padding: 0;
	font-size: 12px;
}

table {
	margin: 3px;
	border: 2px solid black;
}

#divEditarTorneoSup{
	display: flex;
}

#secEditarTorneoInfo{
	margin: 5px;
	padding: 2px;
	border: 3px solid black;
	border-radius: 5px;
}

#secEditarTorneoAddParticipante{
	margin: 5px;
	padding: 2px;
	border: 3px solid black;
	border-radius: 5px;
}

#divEditarTorneoMed{
	display: flex;
}

#secEditarTorneoLsParticipantes{
	margin: 5px;
	padding: 2px;
	border: 3px solid black;
	border-radius: 5px;
}

#secEditarTorneoLsGrupos{
	margin: 5px;
	padding: 2px;
	border: 3px solid black;
	border-radius: 5px;
}

#listaCombates{
	margin: 10px;
	max-width: 95%;
	height: auto;
	border: 5px solid black;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

