body{
	margin: 0;
	padding: 0;
	font-size: 12px;
}

table {
	margin: 3px;
	border: 2px solid black;
}

/* -------------------- Clases Generales */

tr:hover{
	background-color: #DDDDDD;
}



/* -------------------- Vista inicial */

#tituloKrigerskole{
	border: 3px solid black;
}

#tituloKrigerskole:hover{
	background-color: Blue;
	color: white;
}

/* ------------------ Eventos */
#divEventos{
	width: 80vw;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items:center;
}
.artEvento{
	width: 95%;
	display: flex;
	flex-direction: column;
	margin: 3px;
	border: 3px solid grey;
	border-radius: 5px;
}

.divEventoEncabezado{
	display: flex;
	justify-content: space-around;
}

.tbTorneos{
	width: 95%;
}


#divEditarTorneoSup{
	display: flex;
}

#secEditarTorneoInfo{
	margin: 5px;
	padding: 2px;
	border: 3px solid black;
	border-radius: 5px;
}

#secEditarTorneoAddParticipante{
	margin: 5px;
	padding: 2px;
	border: 3px solid black;
	border-radius: 5px;
}

#divEditarTorneoMed{
	display: flex;
	flex-direction: column;
}

#secEditarTorneoLsParticipantes{
	margin: 5px;
	padding: 2px;
	border: 3px solid black;
	border-radius: 5px;
}

#secEditarTorneoLsGrupos{
	margin: 5px;
	padding: 2px;
	border: 3px solid black;
	border-radius: 5px;
}

#listaCombates{
	margin: 10px;
	max-width: 95%;
	height: auto;
	border: 5px solid black;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

#secCombate{
	display: flex;
	flex-direction: column;
	align-items: center;
}

#divParticipantes{
	display: flex;
	justify-content: space-around;
	width: 90%;
}

.divPuntos{
	padding: 5px;
}

#divParticipante1{
	display: flex;
	flex-direction: column;
	background-color: #254DDF;
	border: 3px solid black;
	border-radius: 5px;
}

#divParticipante2{
	display: flex;
	flex-direction: column;
	background-color: #FF3A30;
	border: 3px solid black;
	border-radius: 5px;
}

.btnPuntos{
	margin: 3px;
}
